<!-- !DOCTYPE html>
<html lang="es">
<link rel="stylesheet" href="/stylesheets/app.css">
<!-- Include Head -->
<%- include('./partials/head') %>'

	<body>
		
		<%- include('./partials/header') %>

			<!-- Banner -->
			<div class="banner">
				<img src="/images/products/bestsellers2.png" alt="Banner de ofertas">
			</div>
			<!-- /Banner -->

			<!-- Novedades -->

			<div class="containerproducts-wrapper">
				<div class="products-wrapper">
					<div class="row">
						<div class="col-12">
							<h2 class="products-title">Novedades</h2>
						</div class="fotos">
						<!-- Show the "ultimos" products -->
					<div>
						<article class="col-12 col-lg-8 product-detail-info">
							<img src="<%= producto.imagen %>" alt="" class="product-detail-img">
							<p class="product-detail-description">
								<%= producto.descripcion %>
							</p>
							<p class="product-detail-description">
								<%= producto.autor %>
							</p>
						</article>


					</div>
					</div>
					<!-- /Novedades -->



					<%- include('./partials/footer') %>
	</body>

</html>
<!-- Include Head -->/