<!-- !DOCTYPE html>
<html lang="es">
<link rel="stylesheet" href="/stylesheets/app.css">
<!-- Include Head -->
<%- include('./partials/head') %>'

	<body>
		
		<% if (locals.user != null) { %>
			<%- include('./partials/headerLogueado')  %> 
	<% } else{%>
			<%- include('./partials/header')  %> 
	<% } %>

			<!-- Banner -->
			<div class="banner">
				<img src="/images/products/bestsellers2.png" alt="Banner de ofertas">
			</div>
			<!-- /Banner -->

			<!-- Novedades -->

			<div class="containerproducts-wrapper">
				<div class="products-wrapper">
					<div class="row">
						<div class="col-12">
							<h2 class="products-title">Novedades</h2>
						</div class="fotos">
						<!-- Show the "ultimos" products -->
						
						<% for (let i=0; i<producto.length; i++) {%> 
						<div class="col-12 col-sm-6 col-lg-3">
							<section class="product-box">
								<figure class="product-box_image">
									<a href="/product/<%producto[i].id%>"></a>
									<img src="/images/<%=producto[i].imagen%>" alt="foto producto">
								</figure>
								<article class="product-box_data">
									<h2 class="producto"> <a href="/views/product.ejs/<%= producto[i].nombre %>" <%= producto[i].nombre %> ></a>  </h2>
									<p> <%= producto[i].descripcion %> </p>
									<p> Cantidad de comentarios: <%= producto[i].comentario.length %> </p>
									<p> <a href="/views/profile.ejs/<%= producto[i].usuarioId.id %> "> Subido por: <%= producto[i].usuarioId.nombre %> </a></p>


								</article>

							</section>
						</div>
						<% } %> 
						
						<!-- /Novedades -->



					<%- include('./partials/footer') %>
	</body>

</html>
<!-- Include Head -->/