<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<%- include('./partials/head') %>
</head>

<body>
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado')  %> 
<% } else{%>
		<%- include('./partials/header')  %> 
<% } %>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <i> <br>
					<form action="/users/login" method="POST" class="form-container">
						<input type="text" name="email" placeholder="Nombre de Usuario o Email" class="form-input">
						<input type="password" name="password" placeholder="Contraseña" class="form-input">
						<button type="submit">Iniciar Sesión</button>
						<div>
							<input type="checkbox" id="check-recordarme" name="recordarme" />
							<label for="check-recordarme">Recordarme</label>
						</div>
					</form>

					<% if(locals.errores){%>
						<p class="error"> <%= errores.message %> </p>
					<%} %>
					<br>
					<br>
					<br>
				</i> <br>

			</h2>
			<%- include('./partials/footer') %>
</body>

</html>