<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->


<%- include('./partials/head') %>

<body>
	<% if (locals.user != null) { %>
	<%- include('./partials/headerLogueado')  %>
	<% } else{%>
	<%- include('./partials/header')  %>
	<% } %>
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">
				<%=producto.nombre%>
			</h2>
			<p class="product-detail-description">
				<a href="/product/productAdd">Agregar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/<%=producto.imagen%>" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%=producto.descripcion %>
					</p>
			</div>
		</div>
	</div>

		<form class="form" action="<%= producto.id %>/delete" method="POST">
			<button type="submit" class="buy-now-button">ELIMINAR PUBLICACION</button>
		</form>
		<form class="form" action="/product/delete<%= producto.id %>" method="GET">
			<button type="submit" class="buy-now-button">EDITAR PUBLICACION</button>
		</form>

		<section class="comments">
			<% for (let i =0; i <producto.comentarios.length; i++) { %>
				<article>
					<img src= "/images/<%=producto.comentarios[i].user.profilePic%>" alt="img perfil">
					<div class="data">
						<p class="user">
						<strong> <a href="/users/profile?userId=<%=producto.comentarios[i].user.id%>"> <%=producto.comentarios[i].user.username%> </a> </strong>
							<%=producto.comentarios[i].comentario %> 
						</p>

						
					</div>
				</article>
				<% } %>
		</section>

<form class="form" action="/product/<%= producto.id %>" method="POST">
		<input class="form-input" type="text" value="" placeholder="Agregar comentario" name="comentario">
		<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
	</form>
	<!-- /product detail -->

	<%- include('./partials/footer') %>

</body>

</html>