<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<%- include('./partials/head') %>
</head>

<body>
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado')  %> 
<% } else{%>
		<%- include('./partials/header')  %> 
<% } %>
		<!-- Novedades -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Modificá tus datos:</h2>
				</div>
			</div>
			
				<form action="/users/profileEdit" method="POST" class="form-container" enctype="multipart/form-data">
					<input type="text" name="username" placeholder="Nombre de Usuario" class="form-input"
						value="<%= users.username %> ">
					<input type="text" name="email" placeholder="E-Mail" class="form-input"
						value="<%= users.email %> ">
					<input type="password" name="password" placeholder="Contraseña" class="form-input">
					<input type="date" name="birthDay" class="form-input" value="<%= users.birthDay %> ">
					<input type="text" name="DNI" placeholder="DNI" class="form-input"
						value="<%= users.dni %> ">
					<input type="file" name="profilePic" placeholder="Foto de perfil" class="form-input"
						value="<%= users.profilePic %> ">
					
					<button type="submit">Modificar</button>
				</form>
				
					<%- include('./partials/footer') %>
</body>



</html>