<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<%- include('./partials/head') %>
</head>

<body>
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado')  %> 
<% } else{%>
		<%- include('./partials/header')  %> 
<% } %>
		<!-- Novedades -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Registrate</h2>
				</div>
			</div>
			<form action="/users/register" method="POST" enctype="multipart/form-data" class="form-container">
				<input type="text" name="username" placeholder="Nombre de Usuario" class="form-input">
				<input type="text" name="email" placeholder="E-Mail" class="form-input">
				<input type="password" name="password" placeholder="Contraseña" class="form-input">
				<input type="date" name="birthDay" class="form-input">
				<input type="text" name="DNI" placeholder="DNI" class="form-input">
				<input type="file" name="profilePic" placeholder="Foto de perfil" class="form-input">
				<button type="submit">Registrarme</button>
			</form>


	<% if(locals.errores){%>
		<p class="error"> <%= errores.message %> </p>
		<%} %>

		<%- include('./partials/footer') %>
</body>



</html>