<!DOCTYPE html>
<html lang="es">


<%- include('./partials/head') %>



    <body>
        <% if (locals.user != undefined) { %>
            <%- include('./partials/headerLogueado')  %> 
    <% } else{%>
            <%- include('./partials/header')  %> 
    <% } %>

            <div class="container products-wrapper">
                <div class="row">
                    <div class="col-12">
                        <h2 class="products-title">Resultados de libros: </h2>
                    </div>


                    <div class="products-wrapper">
                        <div class="row">
                            <div class="col-12">

                            </div class="fotos">

                         
                                <div class="col-12 col-sm-6 col-lg-3">
                                    <section class="product-box">

                                        <a href="/product/">

                                            <figure class="product-box_image">
                                                <img src="<%=search.imagen %>" alt="foto libro">
                                            </figure>
                                            <article class="product-box_data">
                                                <h2>
                                                    <%=search.nombre %>
                                                </h2>
                                                <p>
                                                    <%=search.descripcion %>
                                                </p>
                                                <p>
                                                    <%=search.comentario %>
                                                </p>
                                            </article>
                                        </a>
                                    </section>
                                </div>



                             




                                    <%- include('./partials/footer') %>

    </body>

</html>