<!DOCTYPE html>
<html lang="es">


<%- include('./partials/head') %>



    <body>
        <% if (locals.user != undefined) { %>
            <%- include('./partials/headerLogueado')  %> 
    <% } else{%>
            <%- include('./partials/header')  %> 
    <% } %>

            <div class="container products-wrapper">
                <div class="row">
                    <div class="col-12">
                        <h2 class="products-title">Resultados de libros: </h2>
                    </div>


                    <div class="products-wrapper">
                        <div class="row">
                            <div class="col-12">

                            </div class="fotos">

                            
                                <div class="col-12 col-sm-6 col-lg-3">
                                    <% for (let i = 0; i < producto.length; i++) { %>
                                    <section class="product-box">

                                        <a href="/product/<%= producto[i].id %>">

                                            <figure class="product-box_image">
                                                <img src="<%=producto[i].imagen %>" alt="foto libro">
                                            </figure>
                                            <article class="product-box_data">
                                                <h2>
                                                    <%=producto[i].nombre %>
                                                </h2>
                                                <p>
                                                    <%=producto[i].descripcion%>
                                                </p>
                                                <p>
                                                    <%=producto[i].comentario %>
                                                </p>
                                                <p>
                                               creador: <%= producto[i].usuarioId %>
                                            </p>
                                            </article>
                                        </a>
                                        <% } %>
					
						
				
                                    </section>
                                </div>



                             




                                    <%- include('./partials/footer') %>

    </body>

</html>