<!DOCTYPE html>
<html lang="es">


<%- include('./partials/head') %>



    <body>
        <%- include('./partials/header') %>

            <div class="container products-wrapper">
                <div class="row">
                    <div class="col-12">
                        <h2 class="products-title">Resultados de libros: </h2>
                    </div>


                    <div class="products-wrapper">
                        <div class="row">
                            <div class="col-12">

                            </div class="fotos">

                            <% for(let i=0; i<search.length; i++) { %> 
                                <div class="col-12 col-sm-6 col-lg-3">
                                    <section class="product-box">

                                        <a href="/product/<%=i%>">

                                            <figure class="product-box_image">
                                                <img src="<%=search[i].imagen %>" alt="foto libro">
                                            </figure>
                                            <article class="product-box_data">
                                                <h2>
                                                    <%=search[i].nombre %>
                                                </h2>
                                                <p>
                                                    <%=search[i].descripcion %>
                                                </p>
                                                <p>
                                                    <%=search[i].comentario %>
                                                </p>
                                            </article>
                                        </a>
                                    </section>
                                </div>



                                <% } %>




                                    <%- include('./partials/footer') %>

    </body>

</html>