<!DOCTYPE html>
<html lang="es">


<%- include('./partials/head') %>



    <body>
        <% if (locals.user != undefined) { %>
            <%- include('./partials/headerLogueado')  %> 
    <% } else{%>
            <%- include('./partials/header')  %> 
    <% } %>

<!--Novedades-->
<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">

            <% if (product.length != 0) { %>
            <h2 class="products-title"> Browse results for: </h2>
            <% for (let i = 0; i < product.length; i++) { %>
                <div class="col-12 col-sm-6 col-lg-3">
                    <section class="product-box">
                        <a href="/product/id/<%= product[i].id %>">
                            <figure class="product-box_image">
                                <h2> <%= product[i].nombre  %>  </h2>
                                <img src="/images/<%= product[i].imagen %>"  alt="books">
                            </figure>
                            <article class="product-box_data">
                                
                                <p> <%= product[i].descripcion  %> </p>
                                <p>Created by <%= product[i].user.username %></p>
                            </article>
                        </a>
                    </section>
                </div>
                <% } %>
                <% }  else {  %>
                    <h2 class="products-title">Oops! No se encontraron resultados para tu busqueda</h2>
                 <% } %> 

    </div>

</div>



                             




 <%- include('./partials/footer') %>

    </body>

</html>