<!DOCTYPE html>
<html lang="es">
	<link rel="stylesheet" href="/proyectoProg2/public/stylesheets/app.css">
<!-- Include Head -->
<%- include('./partials/head', {tittle: 'Listado de libros'}) %>

<body>
	
	<!--no estoy segura lo de tittle-->
	<%- include('./partials/header', {tittle: 'Listado de libros'}) %>  
	<!-- Banner -->
	<div class="banner">
		<img src="/images/products/profesionales de la impresioÌn.png" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="containerproducts-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for(let i=0; i< listaProductos.length; i++) { %>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					
					<a href="/product/<%=i%>">
						
						<figure class="product-box_image">
							<img src="<%=listaProductos[i].imagen %>" alt="foto libro">
						</figure>
						<article class="product-box_data">
							<h2> <%=listaProductos[i].nombre %> </h2>
							<p><%=listaProductos[i].descripcion %> </p>
							<p><%=listaProductos[i].comentario %></p>
						</article>
					</a>
				</section>
			</div>
			<% } %>
	<!-- /Novedades -->



	
</body>	
</html>