<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />

	<title> Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
 
</head>

<body>
    <%- include('./partials/header') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de libros romanticos: </h2>
			</div>
			<!-- Show the "ultimos" products -->
		
                <div class="products-wrapper">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="products-title">Novedades</h2>
                        </div class="fotos">
                        <!-- Show the "ultimos" products -->
                        <% for(let i=0; i< listaProductos.length; i++) { %>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <section class="product-box">
            
                                <a href="/product/<%=1%>">
            
                                    <figure class="product-box_image">
                                        <img src="<%=listaProductos[1].imagen %>" alt="foto libro">
                                    </figure>
                                    <article class="product-box_data">
                                        <h2> <%=listaProductos[1].nombre %> </h2>
                                        <p><%=listaProductos[1].descripcion %> </p>
                                        <p><%=listaProductos[1].comentario %></p>
                                    </article>
                                </a>
                            </section>
                        </div>
                        <% for(let i=0; i< listaProductos.length; i++) { %>
                            <div class="col-12 col-sm-6 col-lg-3">
                                <section class="product-box">
                
                                    <a href="/product/<%=3%>">
                
                                        <figure class="product-box_image">
                                            <img src="<%=listaProductos[3].imagen %>" alt="foto libro">
                                        </figure>
                                        <article class="product-box_data">
                                            <h2> <%=listaProductos[3].nombre %> </h2>
                                            <p><%=listaProductos[3].descripcion %> </p>
                                            <p><%=listaProductos[3].comentario %></p>
                                        </article>
                                    </a>
                                </section>
                            </div>
                            <% for(let i=0; i< listaProductos.length; i++) { %>
                                <div class="col-12 col-sm-6 col-lg-3">
                                    <section class="product-box">
                    
                                        <a href="/product/<%=5%>">
                    
                                            <figure class="product-box_image">
                                                <img src="<%=listaProductos[5].imagen %>" alt="foto libro">
                                            </figure>
                                            <article class="product-box_data">
                                                <h2> <%=listaProductos[5].nombre %> </h2>
                                                <p><%=listaProductos[5].descripcion %> </p>
                                                <p><%=listaProductos[5].comentario %></p>
                                            </article>
                                        </a>
                                    </section>
                                </div>
			


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>